@import "variables";
$navbarBackground: $sobc-red;
$navbarBackgroundHighlight: $sobc-red;
$dropdownLinkBackgroundHover: $sobc-red;
@import "application";

.sidebar-nav {
	border: 5px solid $sobc-red;
}