@import "application";

$navbarColourOverride: $sobc-red;
$navbarDarkColourOverride: $sobc-red;
$navbarBorderColourOverride: $sobc-red;
.sidebar-nav {
	border: 5px solid $sobc-red;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-color: $sobc-red !important;
	background-image: none !important;
}
@import "navbarStyles"
