// Bootstrap body padding for fixed navbar
body { padding-top: 10px; }
.row-fluid{
  margin-bottom: 15px;
}
.nav_grid_element{
  height: 150px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.nav_grid_element a {
  color: #ffffff;
  text-decoration: none;
}
.nav_grid_element a:hover {
  color: #aaaaaa;
  text-decoration: none;
}
.nav_grid_padded{
  padding: 70px 20px 50px 20px;
}
.sobc-green{
  background-color: $sobc-green;
}
.sobc-yellow{
  background-color: $sobc-orange;
}
.sobc-purple{
  background-color: $sobc-purple;
}
.sobc-red{
  background-color: $sobc-red;
}
.sobc-blue{
  background-color: $sobc-blue;
}
.sidebar-nav {
  background-image: url(sobc_cross.jpg);
  background-repeat:no-repeat;
  background-color: #ffffff;
  color: #000000;
  border: 5px solid #182b7b;
}
.sidebar-nav.frontpage{
  height: 100%;
  background-image: none;
}
.splash{
  background-color: #ffffff;
  border: 5px solid #182b7b;
  width: 99%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.splash h1 {
  color: #182b7b;
}
.splash_calendar {
  padding-right: 20px;
  padding-bottom: 20px;
}
.splash_calendar h3 {
  color: #182b7b;
}
#calendar_iframe {
  width: 100%;
  height: 100%;
}
.logo{
  background-image: url(sobc_cross.jpg);
  background-repeat:no-repeat;
}
// Map stuff
#map{
  width: 99%;
  height: 410px;
  margin: 0px 10px 0px 10px;
}
img[src*="gstatic.com/"], img[src*="googleapis.com/"]  {
    max-width: 99999px;
}
