@import "variables";
$navbarBackground: $sobc-blue;
$navbarBackgroundHighlight: $sobc-blue;
@import "application";

.sidebar-nav {
	border: 5px solid $sobc-blue;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-color: $sobc-blue !important;
	background-image: none !important;
}

