$sobc-green: #89b243;
$sobc-orange: #f68430;
$sobc-purple: #6d4b92;
$sobc-red: #b33b3b;
$sobc-blue: #3d6ab1;
$sobc-dark-blue: #182b7b;
$btnPrimaryBackground: $sobc-dark-blue;
$navbarLinkColor: #ffffff;
$navbarBackground: $sobc-dark-blue;
$navbarBackgroundHighlight: $sobc-dark-blue;
$navbarLinkColorHover: #bbbbbb;
$navbarLinkColorActive: #bbbbbb;
$dropdownLinkBackgroundHover: $sobc-dark-blue;