@import "variables";
$navbarBackground: $sobc-green;
$navbarBackgroundHighlight: $sobc-green;
@import "application";

.sidebar-nav {
	border: 5px solid $sobc-green;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-color: $sobc-green !important;
	background-image: none !important;
}
